{% if app.session.get('user') %}
    <hr class="separator-profile">
    <div class="profile">
        <a href="{{ path('settings') }}">
        <img src="{{ asset('uploads/photos/' ~ app.session.get('user').photo|default('images/profile.jpg')) }}" alt="{{ app.session.get('user').prenom }} {{ app.session.get('user').nom }}" class="profile-picture">
        </a>
            <div class="profile-info">
            <p class="profile-info-user">{{ app.session.get('user').prenom }} {{ app.session.get('user').nom }}</p>
            <p class="profile-info-user"><span>Étudiant {{ app.session.get('user').semestre }}</span></p>
        </div>
    </div>
    <hr class="separator-profile">
{% endif %}
